<!DOCTYPE html>
<html>
  <head>
    <title>NYC Restaurant Lookup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
  	<header>
  		<nav>
  		</nav>
  	</header>
  	<main>	
	    <h1>Create Account</h1>
	    <p>Let's get you registered!</p>


	    <form action="http://127.0.0.1:1776/addUser" method="POST" name="signUpForm" id="signUpForm">
	    	<label>Email Address</label>
	    	<input type="text" name="userName">
	    	<label>Password</label>
	    	<input type="password" name="userPassword">
	    	<button type="SUBMIT">Sign Up</button>
	    </form>
	    
	    <a href="/signUp">Or did you mean to sign in?</a>
    </main>
  </body>
</html>
