<!DOCTYPE html>
<html>
  <head>
    <title>NYC Restaurant Lookup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
  	<header>
  		<nav>
  		</nav>
  	</header>
  	<main>	
	    <h1>RESTAURANT APP</h1>
	    <p>WELCOME TO THE RESTAURANT APP</p>

	    <a href="/createAccount">Create Account?</a>
	   	<a href="/signUp">Sign up?</a>

	    
	    <form action="http://127.0.0.1:1776/search" method="POST" name="restaurantForm" id="restaurantForm">
	    	<label>Restaurant Name</label>
	    	<input type="text" name="restaurantName">

	    	<div>
	    		<label>Enter Zip Code</label>
	    		<input type="number" name="zipCode">
	    	</div>	

	    	<div>
	    	<label>Inspection Grade:</label>
		    	<input type="checkbox" name="grade[]" value="N">Not Yet Graded
		    	<input type="checkbox" name="grade[]" value="A">Grade A
		    	<input type="checkbox" name="grade[]" value="B">Grade B
		    	<input type="checkbox" name="grade[]" value="C">Grade C
		    	<input type="checkbox" name="grade[]" value="D">Grade D
		    </div>
	    	<button type="SUBMIT">Get Data</button>
	    </form>
    </main>
  </body>
</html>
